    .correct {
    color: green; /* Correct character color */
  }
  
  .incorrect {
    color: red; /* Incorrect character color */
  }
  .caret {
    display: inline-block;
    height: 1em;
    width: 0; /* Ensures the caret does not have a "width" */
    border-left: 1px solid black; /* Creates a thin line for the caret */
    z-index: 10;
    position: absolute;
    animation: blink-caret 0.7s steps(5, start) infinite;
  }
  
  .center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .typing-container {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
  }

  .typing-container span {
    display: inline-block;
    min-width: 1ch; /* Ensure every character, including spaces, has width */
  }
  
  .typing-input {
    caret-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: transparent; /* Make text transparent instead of the input itself */
  }

  
//   @keyframes blink-caret {
//     from, to { background-color: transparent }
//     50% { background-color: black; }
//   }
  